.product-detail-container {
  padding: 30px;
  margin: 0 auto;
}

.detail-card-container {
  display: flex;
  padding: 30px 20px;
  box-shadow: 6px 3px 20px 0px #a9ada5;

  img {
    width: 200px;
    height: 200px;
  }

  .content {
    margin-left: 20px;

    p {
      letter-spacing: 0.5px;
      word-spacing: 5px;
      color: #52585d;
      line-height: 1.3;
      border: 1px solid #d0d3d4;
      padding: 4px;
      margin-top: 20px;
    }
  }

  .name-price {
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 20px;

    >span:first-child {
      font-size: 32px;
    }
  }
}
